@model NexusApp.Areas.RetailShop.Models.RetailShopModel

@{
    ViewData["Title"] = "Update Or Delete";
}

<h1>Update Or Delete Shop</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrDelete" method="post">
            <input asp-for="RetailShopId" hidden />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <br />
            <div style="display:flex;flex-direction=row">
                <input type="submit" value="Update" name="submit" class="btn btn-primary" /> &emsp; &emsp;
                <input onclick="return confirm('Are you sure to delete?')" type="submit" value="Delete" name="submit" class="btn btn-danger" />
            </div>

        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

