@{
    ViewData["Title"] = "UserDetail";
    Layout = "_loginLayout";
}
<div class="container card card-body mt-5 pt-4" style="width:900px; margin:auto;">
    <h5>Cancel Payment</h5>
    <h1 class="shadow-lg p-5 d-flex bg-light justify-content-center align-items-center">Cancel Payment</h1>

</div>