<section id="hero-area" class="header-area header-eight">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="header-content">
                    <h1>Connection Service Internet By Nexus Corporate</h1>
                    <p>
                        We are a large corporate for internet connection service business. 
                        Specially, we supply speed and a steady internet connection
                    </p>
                    <div class="button">
                        <a href="#contact" class="btn primary-btn">Get Started</a>
                                         </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
                <div class="header-image">
                    <img src="~/image/Business_Networking-definizione-Quali-errori-non-fare.jpg" alt="#" />
                </div>
            </div>
        </div>
    </div>
</section>