@model NexusApp.Areas.ServiceConnection.Models.ServiceModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Service</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicePrice" class="control-label"></label>
                <input asp-for="ServicePrice" class="form-control" type="number" />
                <span asp-validation-for="ServicePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <select asp-for="Duration" class="form-control">
                    <option value="1">1 Month</option>
                    <option value="3">3 Months</option>
                    <option value="6">6 Months</option>
                    <option value="12">12 Months</option>
                </select>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubServiceConnectionRefId" class="control-label"></label>
                <select asp-for="SubServiceConnectionRefId" class="form-control" asp-items="ViewBag.noDepartxxy"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

